.navbar-container {
  position: relative;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  left: 199px;
  top: 30px;
  width: 500px;
}

.link {
  margin: 15px 5px 5px 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.link:hover {
  text-decoration: underline red;
}

@media screen and (max-width: 768px) and (min-width: 460px) {
 .navbar-container {
  top: -21px
 } 
}