.news-container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  left: 60px;
  top: 30px;
  width: 600px;
  flex-wrap: wrap;
}

#full-news {
  display: flex;
  background-color: rgba(5, 212, 101, 1);
  width: 167px;
  height: 36px;
  padding: 2px;
  margin-top: 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
  text-decoration: none;
}

.news-container button {
  display: inline-flex;
  position: relative;
  background-color: transparent;
  border: none;
  top:  -30px;
  left: 180px;
}

.title-principal {
  text-align: justify;
  margin: 10px 0 10px 0;
  width: 400px;
}

.introduction {
  text-align: justify;
  margin-bottom: 10px;
  width: 400px;
}