.news-container {
  display: inline-flex;
  flex-flow: wrap;
  flex-direction: column;
  left: 210px;
  margin-bottom: 15px;
  position: relative;
  top: 30px;
  width: 550px;
}

.full-news {
  align-items: center;
  background-color: rgba(5, 212, 101, 1);
  border-radius: 5px;
  color: black;
  display: flex;
  gap: 10px;
  height: 36px;
  justify-content: center;
  margin-top: 10px;
  padding: 2px;
  text-decoration: none;
  width: 167px;
}

.news-container button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  left: 180px;
  position: relative;
  top: -30px;
  width: 50px;
}

.title-card {
  margin: 10px 0;
  text-align: justify;
  width: 300px;
}

.introduction-card {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: justify;
  width: 300px;
}

@media screen and ( max-width : 768px ) and ( min-width : 600px ) {

  .news-container {
    height: 340px;
    left: 120px;
    margin-right: 30px;
    width: 300px;
  }

  .title-card {
    width: 300px;
  }

  .introduction-card {
    font-size: 14px;
    height: 150px;
    margin-bottom: 3px;
    width: 300px;
  }
}
